$blue: #7cb9e4;
$dark_gray: #2e3335;
$medium_gray: #585c5d;
$light_gray: #8d9294;
$background_gray: #535d64;
$white: #f1f8f9;
$black: #000;

$sm: 320px;
$tablet: 768px;
$tablet_pro: 1024px;
$laptop: 1280px;
$desktop: 1440px;

$font-size: (
        'small': 0.875rem,
        'medium': 1rem,
        'large': 1.7rem,
        'x-large': 3rem,
);

$font-family:(
        'text': Quicksand,
        'text_body': Sulphur Point,
);
